{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire-exports",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "sourceMaps": true
}
